.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  position: relative;
}

.container {
  position: relative;
 
}

.back_icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -9%;
  cursor: pointer;
}



iframe {
  border: none;
  border-radius: 10px;
}

.player_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}
